<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.5" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee   http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <filter>
    <filter-name>Encoding Filter</filter-name>
    <filter-class>com.pancou.ad.util.CharacterEncodingFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>utf-8</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>Encoding Filter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>action</servlet-name>
    <servlet-class>org.apache.struts.action.ActionServlet</servlet-class>
    <init-param>
      <param-name>config</param-name>
      <param-value>/WEB-INF/config/struts-config-adplan.xml,
      /WEB-INF/config/struts-config-report.xml,
       /WEB-INF/config/struts-config-webmaster.xml,
      /WEB-INF/config/struts-config-customer.xml,
      /WEB-INF/struts-config.xml</param-value>
    </init-param>
    <init-param>
      <param-name>debug</param-name>
      <param-value>3</param-value>
    </init-param>
    <init-param>
      <param-name>detail</param-name>
      <param-value>3</param-value>
    </init-param>
    <load-on-startup>0</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>action</servlet-name>
    <url-pattern>*.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>SnapshotServlet</servlet-name>
    <servlet-class>com.pancou.ad.action.SnapshotServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SnapshotServlet</servlet-name>
    <url-pattern>/servlet/SnapshotServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
      <description>ipseeker</description>
      <servlet-name>ips</servlet-name>
      <servlet-class>com.pancou.ad.action.IpSeeker</servlet-class>
  </servlet>
  <servlet-mapping>
      <servlet-name>ips</servlet-name>
      <url-pattern>/ips/</url-pattern>
  </servlet-mapping>
  
  <welcome-file-list>
    <welcome-file>/index.jsp</welcome-file>
  </welcome-file-list>
  
  <error-page>
      <error-code>404</error-code>
      <location>/index.jsp</location>
  </error-page>
  
  <session-config>
    <session-timeout>60</session-timeout>
  </session-config>
</web-app>

